{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h2 style="font-size: 30px;">A new user has been added</h2>
    <a href="{{ path('setting', {"id": app.user.id}) }}"><p style="font-size: 22px;">Now add some informations about yourself and write a blog</p></a>

{% endblock fos_user_content %}
